* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    /* background-color: #390D02; */
    background-image: url(https://artworks.thetvdb.com/banners/fanart/original/72218-92.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
    

#logo {
    width: 150px;
    height: 90px;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

li {
    list-style: none;
    color:aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family:'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: goldenrod;

}

.container {
    /* background-color: #A52502; */
    background-color: black (57,13,2, 0.4);
    height: 600px;
    width: 600px;
    border-radius: 10px;
    padding: 50px;
    border-style:solid;
    position: relative;
    margin: 60px auto;


    
}

input[type=text] {
    width: 80%;
    padding: 12px;
    border: 1px solid #020202;
    border-radius: 4px;
    margin-top: 6px; 
    margin-bottom: 50px;
    display: block;
    color: #020202;
   
    
}

label[for=fname], [for=lname]{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-family:'Kdam Thmor Pro', sans-serif;
    text-shadow:  -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    
}



textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #020202;
    border-radius: 4px;
    margin-top: 6px; 
    margin-bottom: 50px;
    display: block;
    color: #020202;
    resize: vertical;
    box-sizing: border-box;
}

label[for=subject]{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-family:'Kdam Thmor Pro', sans-serif;
    text-shadow:  -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

input[type=submit] {
    background-color: #000B0D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #000;
}

h1 {

    font-family:'Kdam Thmor Pro', sans-serif;
    padding: 10px;
    text-align: center;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


span {
    color: white;
    font-family:'Kdam Thmor Pro', sans-serif;  
}

footer {
    background-color: black;
}
.footer-navigation {
    display: none;
     
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    body {
        /* background-color: #390D02; */
        background-image: url(https://artworks.thetvdb.com/banners/fanart/original/72218-92.jpg);
        background-repeat: no-repeat;
        background-position: center;
        

       
    }

    .container {
        /* background-color: #A52502; */
        background-color: rgba(57,13,2, 0.4);
        height: 600px;
        width: 400px;
        border-radius: 10px;
        padding: 50px;
        border-style:solid;
        position: relative;
        margin: 60px auto; 
    }

    input[type=text] {
        width: 70%;
        padding: 12px;
        border: 1px solid #020202;
        border-radius: 4px;
        margin-top: 6px; 
        margin-bottom: 50px;
        display: block;
        color: #020202;
    }

    input[type=submit] {
        background-color: #000B0D;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


}

@media(max-width: 560px){
    .footer-navigation {
        display: block;
    }
    nav {
        display: none;
    }

    .container {
        /* background-color: #A52502; */
        background-color: rgba(57,13,2, 0.4);
        height: 600px;
        width: 200px;
        border-radius: 10px;
        padding: 50px;
        border-style:solid;
        position: relative;
        margin: 60px auto; 
    }



}

